.container {
    position: relative;
}
  
.flashes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 78%;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeOut 10s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.flashes li {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin-top: 12%;
}

form input {
    width: 100%;
    padding: 9px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    color: rgb(102, 102, 102);
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

form input::placeholder {
    color: rgb(153, 153, 153);
}

.button-group {
    display: flex;
}

.button-group a,
.button-group button {
    margin: 0 4px;
    padding: 0;
    flex: 1;
    line-height: 40px; 
    border: none;
    border-radius: 20px;
    background-color: rgb(36, 148, 162);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button-group a:hover,
.button-group button:hover {
    background-color: rgb(25, 105, 115);
}

.button-group button[type="reset"] {
    background-color: rgb(255, 102, 102);
}

.button-group button[type="reset"]:hover {
    background-color: rgb(204, 0, 0);
}