<!DOCTYPE html>
<html>
<head>
    <title>Editar Sessão</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/editar_sessao.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h2>EDITAR SESSÃO</h2>
        </header>
        <form method="POST" autocomplete="off">
            <div class="form-group">
                <label for="cliente_sessao">Cliente</label>
                <select id="cliente_sessao" name="cliente_sessao">
                    {% for cliente in clientes %}
                        <option value="{{ cliente[0] }}" {% if cliente[0] == sessao[1] %}selected{% endif %}>{{ cliente[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="data_sessao">Data</label>
                    <input type="date" id="data_sessao" name="data_sessao" value="{{ sessao[2] }}" required>
                </div>
                <div class="form-group">
                    <label for="hora_sessao">Hora</label>
                    <input type="time" id="hora_sessao" name="hora_sessao" value="{{ sessao[3] }}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" id="valor" name="valor" value="{{ sessao[4] }}" required>
            </div>
            
            <div class="form-group">
                <label for="observacao">Observação</label>
                <textarea id="observacao" name="observacao">{{ sessao[5] }}</textarea>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="status_sessao">Status Sessão</label>
                    <select id="status_sessao" name="status_sessao">
                        <option value="Agendada" {% if sessao[6] == 'Agendada' %}selected{% endif %}>Agendada</option>
                        <option value="Realizada" {% if sessao[6] == 'Realizada' %}selected{% endif %}>Realizada</option>
                        <option value="Desmarcada" {% if sessao[6] == 'Desmarcada' %}selected{% endif %}>Desmarcada</option>
                        <option value="Falta" {% if sessao[6] == 'Falta' %}selected{% endif %}>Falta</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status_pgto">Status Pagamento</label>
                    <select id="status_pgto" name="status_pgto">
                        <option value="Pago" {% if sessao[7] == 'Pago' %}selected{% endif %}>Pago</option>
                        <option value="Pendente" {% if sessao[7] == 'Pendente' %}selected{% endif %}>Pendente</option>
                    </select>
                </div>
            </div>
            <div class="button-group">
                <a class="back-button" href="{{ url_for('agenda') }}">Voltar</a>
                <button type="submit" name="action" value="save" class="save">Salvar</button>
                <button type="submit" name="action" value="delete" class="delete" onclick="return confirm('Tem certeza de que deseja excluir esta sessão?');">Excluir</button>
            </div>
        </form>
    </div>
</body>
</html>